/* MAIN */

* {
  box-sizing: border-box;
}

a:visited,
a:link {
  color: #4F0341;
}

/* Slider adjustments */
.slider-wrapper {
  width: 100%;
}

.slider {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.slide {
  flex: 0 0 30%;
  transition: 0.6s;
}

.content-wrapper {
  width: 100%;
  background: white;
  transition: 0.4s;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categories-container {
  width: 100%;
  height: auto;
  background-color: #f6f3f0;
  padding: 5px 0;
  border-bottom: 8px solid #4F0341;
}

.categories-container h1 {
  text-align: center;
  color: #4F0341;
  margin-bottom: 10px;
}

.divider {
  width: 150px;
  border: 2px solid #4F0341;
  border-radius: 10px;
  margin: auto;
}

.displays {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}

.display {
  width: 20%;
  cursor: pointer;
  /* background-color: white; */
}

.display-text {
  color: #44293f;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.display img {
  width: 100%;
  margin-bottom: 10px;
  transition: 0.4s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


